In [6]:
2**16

65536

In [5]:
print("Hello")
print("Hello World")

Hello
Hello World

In [7]:
complex(1)

(1+0j)

In [8]:
str1 = "world's"
print(str1)

world's

In [11]:
a=1

In [12]:
type(a)

int

In [13]:
a = "string"
type(a)

str

In [14]:
a= 2.34
type(a)

float

In [16]:
c= True
type(c)

bool

In [17]:
a ="H'i"
a

"H'i"

In [19]:
a.upper()

"H'I"

In [20]:
a.title()

"H'I"

In [21]:
a[0]

'H'

In [22]:
a[1]

"'"

In [23]:
a[0:3]

"H'i"

In [24]:
a[0:1]

'H'

In [25]:
len(a)

3

In [26]:
a.count('Hi') #It checks for the patterns in code and display

0

In [27]:
a.count('H')

1

In [28]:
a= "Hello world"
a.find('l')

2

In [29]:
a.find('s')

-1

In [30]:
a.count('l')

3

In [31]:
a = [1,2,3,4,5,6, "hello"]
type(a)

list

In [32]:
type(a[6])

str

In [33]:
a[0:4] #dislpay the four index values

[1, 2, 3, 4]

In [34]:
a[3:] #If we dont mention it will display till last index

[4, 5, 6, 'hello']

In [35]:
a[0:4:2] # we are mentioning to jump by two characters

[1, 3]

In [36]:
a[::2]

[1, 3, 5, 'hello']

In [37]:
a[::-1] #It will print in reverse order

['hello', 6, 5, 4, 3, 2, 1]

In [39]:
b ="Chandra"#prints the string in reverse order.
b[::-1]

'ardnahC'

In [40]:
a[2::-1]

[3, 2, 1]

In [41]:
a.index(87) #non existing value;

ValueError: 87 is not in list

In [42]:
a.index(6)

5

In [53]:
a.index('hello')

6

In [63]:
s ="abcd"
e ="wxyz"

In [64]:
user = 'b'

In [65]:
user_index = s.find(user)

In [66]:
user_index

1

In [78]:
s='hello'
if s=="hello":
        print('we are inside the block')        
else:        
        print('we are in else block')

we are inside the block

In [79]:
a = "hello"
for x in a:
    print(x)

h
e
l
l
o

In [80]:
s = "abcd"

e = "xwyz"

user_list = 'ba'

In [98]:
for user in user_list:
    user_index = s.find(user)
    if user_index not in [0,1]:
        print(e[user_index])
    else:
        print("not found")

not found
not found

In [109]:
for user in user_list:
    user_index = s.find(user)
    if user_index !=-1:
        print(e[user_index])
    else:
        print("not found")

w
x

In [110]:
str =""
for user in user_list:
    user_index = s.find(user)
    if user_index !=-1:
        str = str+e[user_index]
    else:
        print("not found")
print(str)

wx

In [100]:
"hello"+"world"

'helloworld'

In [113]:
def my_sum(s1,s2):
    print("first string" +s1)
    print("second string" +s2)
    return s1+s2

In [117]:
my_sum("hello","world")

first stringhello
second stringworld

'helloworld'

In [138]:
def my_sum1(a,b):
    return (a+b)

In [136]:
my_sum1(123,456)

579

In [142]:
d = {'a':1,'b' :2,'c' : "hello world","marks":[1,2,3,4],4: "hello"}

type(d)

dict

In [143]:
type(d["marks"])

list

In [145]:
for key in d:
    print(d[key])

1
2
hello world
[1, 2, 3, 4]
hello

In [150]:
import pandas

In [151]:
df=pandas.DataFrame({'a':[1,2], 'b':[3,4]})

In [152]:
type(df)

pandas.core.frame.DataFrame

In [153]:
len(df)

2

In [154]:
df

   a  b
0  1  3
1  2  4

In [162]:
import pandas as pd

In [163]:
df = pd.read_csv("physician_rx.csv")

In [164]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [166]:
df.tail()

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

In [168]:
df.shape #count of rows and columns

(100, 6)

In [169]:
df.columns

Index(['PHYSICIAN', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX'],
      dtype='object')

In [172]:
df.dtypes # to check the defualt functions available type df. tab and dtypes to check datatypes before working on file

PHYSICIAN         object
CroMax_RX        float64
GlycoMax_RX        int64
AllergyMax_RX      int64
FevMax_RX          int64
ColdMax_RX         int64
dtype: object

In [175]:
df[["PHYSICIAN","AllergyMax_RX"]] [0:4]#for one column string define physician and for two or more  define as a list with 2 parenthesis

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0

In [178]:
df.loc[0:4, ["PHYSICIAN","AllergyMax_RX"]] #we use labelnames

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0
4  AP3185026           1080

In [179]:
df.iloc[0:4 , [0,3]] #we are dealing with the index

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0

In [181]:
df.loc[0:4 ,"PHYSICIAN":"GlycoMax_RX"]

   PHYSICIAN  CroMax_RX  GlycoMax_RX
0  AP1912920        0.0           50
1  AP1350415     2370.0         1320
2  AP0129322        0.0           85
3  AP0462902       30.0          570
4  AP3185026        0.0           40

In [182]:
df["CroMax_RX"]>50 #It checks the column value 50 or not and returns true/false

0     False
1      True
2     False
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10     True
11     True
12    False
13     True
14     True
15    False
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24    False
25    False
26     True
27    False
28    False
29     True
      ...
70    False
71     True
72    False
73    False
74     True
75    False
76     True
77    False
78    False
79     True
80    False
81    False
82     True
83    False
84    False
85     True
86    False
87     True
88    False
89     True
90    False
91    False
92    False
93    False
94    False
95     True
96     True
97    False
98    False
99    False
Name: CroMax_RX, Length: 100, dtype: bool

In [183]:
my_df=df[df["CroMax_RX"]>50]

In [184]:
my_df

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
5   AP3674571       70.0           40              0         64           0
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0

In [190]:
my_df[my_df["GlycoMax_RX"]>50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [193]:
df[(df["CroMax_RX"]>50)&(df["GlycoMax_RX"]>50)]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [195]:
df.iloc[0:1,0:1]

   PHYSICIAN
0  AP1912920

In [196]:
df.iat[0,0] # iat and at are only designed to return single cell and loc,iloc for multiple cells

'AP1912920'

In [197]:
df.at[0,"PHYSICIAN"]#FASTEST WAY TO ACCESS SCALAR VALUE BY USING IAT AND AT

'AP1912920'

In [198]:
df.isnull()

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0       False      False        False          False      False       False
1       False      False        False          False      False       False
2       False      False        False          False      False       False
3       False      False        False          False      False       False
4       False      False        False          False      False       False
5       False      False        False          False      False       False
6       False      False        False          False      False       False
7        True      False        False          False      False       False
8       False      False        False          False      False       False
9       False      False        False          False      False       False
10      False      False        False          False      False       False
11      False      False        False          False      False       False
12      False      False        False          False      False       False
13      False      False        False          False      False       False
14       True      False        False          False      False       False
15      False      False        False          False      False       False
16      False      False        False          False      False       False
17      False      False        False          False      False       False
18      False      False        False          False      False       False
19      False      False        False          False      False       False
20       True      False        False          False      False       False
21      False      False        False          False      False       False
22      False      False        False          False      False       False
23      False      False        False          False      False       False
24      False      False        False          False      False       False
25      False      False        False          False      False       False
26       True      False        False          False      False       False
27      False      False        False          False      False       False
28      False      False        False          False      False       False
29      False      False        False          False      False       False
..        ...        ...          ...            ...        ...         ...
70      False      False        False          False      False       False
71      False      False        False          False      False       False
72      False      False        False          False      False       False
73      False      False        False          False      False       False
74      False      False        False          False      False       False
75      False      False        False          False      False       False
76      False      False        False          False      False       False
77      False      False        False          False      False       False
78      False      False        False          False      False       False
79      False      False        False          False      False       False
80      False      False        False          False      False       False
81      False      False        False          False      False       False
82      False      False        False          False      False       False
83      False      False        False          False      False       False
84      False      False        False          False      False       False
85      False      False        False          False      False       False
86      False      False        False          False      False       False
87      False      False        False          False      False       False
88      False       True        False          False      False       False
89      False      False        False          False      False       False
90      False      False        False          False      False       False
91      False      False        False          False      False       False
92      False      False        False          False      False       False
93      False      False        False          False      False       False
94      False      False        False          False      False       False
95      False      False        False          False      False       False
96      False      False        False          False      False       False
97      False      False        False          False      False       False
98      False      False        False          False      False       False
99      False      False        False          False      False       False

[100 rows x 6 columns]

In [199]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        4
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [209]:
df["CroMax_RX"]

0        0.0
1     2370.0
2        0.0
3       30.0
4        0.0
5       70.0
6        0.0
7      150.0
8        0.0
9        0.0
10     640.0
11     160.0
12       0.0
13     400.0
14      90.0
15       0.0
16     330.0
17       0.0
18       0.0
19       0.0
20       0.0
21      90.0
22     160.0
23     160.0
24       0.0
25       0.0
26     150.0
27       0.0
28       0.0
29     930.0
       ...
70      50.0
71     160.0
72       0.0
73      10.0
74    1830.0
75       0.0
76     110.0
77       0.0
78       0.0
79     150.0
80       0.0
81      20.0
82     270.0
83       0.0
84       0.0
85     630.0
86       0.0
87     320.0
88       NaN
89     120.0
90       0.0
91       0.0
92       0.0
93       0.0
94       0.0
95     390.0
96     480.0
97       0.0
98       0.0
99      10.0
Name: CroMax_RX, Length: 100, dtype: float64

In [210]:
df[df["CroMax_RX"].isnull()]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
33  AP0464297        NaN          405              0          0          36
48  AP1948690        NaN          105            690          8           0
65  AP2102094        NaN          220              0        432         216
88  AP0812453        NaN           45              0          0         264

In [213]:
df["CroMax_RX"] = df["CroMax_RX"].fillna(0)

In [214]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [217]:
df=df.dropna()# drops the all values

In [218]:
df.isnull().sum()

PHYSICIAN        0
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [224]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [233]:
df=df.rename(columns = {'PHYSICIAN':'physician'})

In [234]:
df.head()

   physician  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [235]:
"hello world".replace("l","z")

'hezzo worzd'

In [236]:
df.columns = df.columns.str.replace("_",".")

In [237]:
df.head()

   physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [238]:
df["physician"]=df["physician"].str.replace("AP","AB")

In [239]:
df.head()

   physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AB1912920        0.0           50            510        152           0
1  AB1350415     2370.0         1320             60       1416        2676
2  AB0129322        0.0           85              0          0         144
3  AB0462902       30.0          570              0        128        3900
4  AB3185026        0.0           40           1080          0           0

In [240]:
df["bucket"] = "B1"

In [241]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1

In [250]:
 df.loc[(df["CroMax.RX"]>50)&(df["GlycoMax.RX"]>50),"bucket"]="B1"

In [251]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1

In [252]:
df.loc[(df["CroMax.RX"]<50)&(df["GlycoMax.RX"]<50),"bucket"]="B2"

In [253]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B2

In [255]:
df["new_physician"]=df["bucket"]+"_"+df["physician"]

In [256]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,new_physician
0,AB1912920,0.0,50,510,152,0,B1,B1_AB1912920
1,AB1350415,2370.0,1320,60,1416,2676,B1,B1_AB1350415
2,AB0129322,0.0,85,0,0,144,B1,B1_AB0129322
3,AB0462902,30.0,570,0,128,3900,B1,B1_AB0462902
4,AB3185026,0.0,40,1080,0,0,B2,B2_AB3185026

In [257]:
df["physician"].drop

<bound method Series.drop of 0     AB1912920
1     AB1350415
2     AB0129322
3     AB0462902
4     AB3185026
5     AB3674571
6     AB0126982
8     AB1807651
9     AB0728371
10    AB1934892
11    AB1595288
12    AB1883103
13    AB1365782
15    AB2443797
16    AB0036951
17    AB3200230
18    AB0139724
19    AB2166075
21    AB1332969
22    AB2130355
23    AB0714887
24    AB2214740
25    AB0857188
27    AB1874350
28    AB3209293
29    AB0089696
30    AB0481633
31    AB0692473
32    AB0406810
33    AB0464297
        ...
70    AB0683877
71    AB0118925
72    AB2152296
73    AB1343639
74    AB1869077
75    AB2196115
76    AB1230067
77    AB2014650
78    AB2281620
79    AB1336198
80    AB0849708
81    AB2113896
82    AB1834639
83    AB0455565
84    AB0849030
85    AB0478796
86    AB3589376
87    AB2459335
88    AB0812453
89    AB0433841
90    AB1947403
91    AB0189854
92    AB3883979
93    AB0390218
94    AB2286280
95    AB1957774
96    AB1273998
97    AB1228990
98    AB1881803
99    AB4772804
Name: physician, Length: 96, dtype: object>

In [258]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,new_physician
0,AB1912920,0.0,50,510,152,0,B1,B1_AB1912920
1,AB1350415,2370.0,1320,60,1416,2676,B1,B1_AB1350415
2,AB0129322,0.0,85,0,0,144,B1,B1_AB0129322
3,AB0462902,30.0,570,0,128,3900,B1,B1_AB0462902
4,AB3185026,0.0,40,1080,0,0,B2,B2_AB3185026

In [260]:
del df["physician"]

KeyError: 'physician'

In [261]:
df.head()

,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,new_physician
0,0.0,50,510,152,0,B1,B1_AB1912920
1,2370.0,1320,60,1416,2676,B1,B1_AB1350415
2,0.0,85,0,0,144,B1,B1_AB0129322
3,30.0,570,0,128,3900,B1,B1_AB0462902
4,0.0,40,1080,0,0,B2,B2_AB3185026

In [262]:
#df=df[['new_physician' write the column names in order to display]

In [263]:
"hello_world".split("_")

['hello', 'world']

In [264]:
df["new_physician"].str.split("_")

0     [B1, AB1912920]
1     [B1, AB1350415]
2     [B1, AB0129322]
3     [B1, AB0462902]
4     [B2, AB3185026]
5     [B1, AB3674571]
6     [B1, AB0126982]
8     [B1, AB1807651]
9     [B2, AB0728371]
10    [B1, AB1934892]
11    [B1, AB1595288]
12    [B1, AB1883103]
13    [B1, AB1365782]
15    [B2, AB2443797]
16    [B1, AB0036951]
17    [B1, AB3200230]
18    [B1, AB0139724]
19    [B1, AB2166075]
21    [B1, AB1332969]
22    [B1, AB2130355]
23    [B1, AB0714887]
24    [B1, AB2214740]
25    [B1, AB0857188]
27    [B2, AB1874350]
28    [B1, AB3209293]
29    [B1, AB0089696]
30    [B1, AB0481633]
31    [B1, AB0692473]
32    [B1, AB0406810]
33    [B1, AB0464297]
           ...
70    [B1, AB0683877]
71    [B1, AB0118925]
72    [B2, AB2152296]
73    [B2, AB1343639]
74    [B1, AB1869077]
75    [B2, AB2196115]
76    [B1, AB1230067]
77    [B1, AB2014650]
78    [B1, AB2281620]
79    [B1, AB1336198]
80    [B1, AB0849708]
81    [B2, AB2113896]
82    [B1, AB1834639]
83    [B1, AB0455565]
84    [B1, AB0849030]
85    [B1, AB0478796]
86    [B1, AB3589376]
87    [B1, AB2459335]
88    [B2, AB0812453]
89    [B1, AB0433841]
90    [B1, AB1947403]
91    [B1, AB0189854]
92    [B1, AB3883979]
93    [B1, AB0390218]
94    [B2, AB2286280]
95    [B1, AB1957774]
96    [B1, AB1273998]
97    [B2, AB1228990]
98    [B2, AB1881803]
99    [B2, AB4772804]
Name: new_physician, Length: 96, dtype: object

In [266]:
df["physician"] = df["new_physician"].str.split("_").str[1]
df["bucket"] = df["new_physician"].str.split("_").str[0]

In [267]:
df.head()

,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,new_physician,physician
0,0.0,50,510,152,0,B1,B1_AB1912920,AB1912920
1,2370.0,1320,60,1416,2676,B1,B1_AB1350415,AB1350415
2,0.0,85,0,0,144,B1,B1_AB0129322,AB0129322
3,30.0,570,0,128,3900,B1,B1_AB0462902,AB0462902
4,0.0,40,1080,0,0,B2,B2_AB3185026,AB3185026